body {
  font-family: "Roboto", serif;
  font-size: 36px;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 72px;
}

h4 {
  font-family: "Shrikhand", serif;
  font-size: 48px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 20px;
}

.btn {
  background: rgb(147, 86, 220);
  background: linear-gradient(345deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  border-radius: 50px;
  border: 0px;
  width: 375px;
  height: 75px;
  color: white;
  margin-bottom: 75px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.45);
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

footer {
  background-color: #363636;
  color: white;
  padding: 20px 0px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer, h4 {
  padding: 30px 0px 5px 40px;
  margin: 0;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
}
.exploration__text p:first-of-type {
  font-weight: bold;
}
.exploration__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 100px;
  margin-top: 0;
  border-top: 5px solid #d1d1d1;
}
.exploration__header i {
  margin-right: 35px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.steps__step {
  background-color: #f5f5f5;
  width: 85%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.25);
}
.steps__step:hover {
  background-color: hsl(267deg, 100%, 96%);
}
.steps__step:hover i {
  color: #9256dc;
}
.steps__step--start {
  box-shadow: 0 0 0 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  font-size: 42px;
  pointer-events: none;
}
.steps__step .leftP {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -20px;
  border-radius: 100%;
  background-color: #9256dc;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: normal;
}
.steps__step i {
  margin: 0px 50px 0px 35px;
  color: #7d7d7d;
}

@media (min-width: 480px) {
  .steps {
    flex-direction: row;
    max-width: 1920px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .steps__step {
    width: 575px;
    height: 150px;
  }
  .steps__step:nth-child(1) {
    width: 1920px;
  }
}
.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.restaurants__restaurant {
  position: relative;
  background-color: white;
  width: 80%;
  height: 625px;
  border-radius: 50px;
  margin-bottom: 50px;
}
.restaurants__restaurant .new {
  position: absolute;
  top: 45px;
  right: 60px;
  background-color: hsl(165deg, 56%, 74%);
  color: hsl(166deg, 87%, 29%);
  padding: 10px;
  border-radius: 10px;
}
.restaurants__restaurant .far {
  position: absolute;
  bottom: 65px;
  right: 60px;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.restaurants__restaurant .fas {
  position: absolute;
  bottom: 65px;
  right: 60px;
  font-size: 50px;
  opacity: 0;
}
.restaurants__restaurant .fas:hover {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.2s ease-in;
}
.restaurants__restaurant p {
  margin: 25px;
}
.restaurants__restaurant p:first-of-type {
  font-weight: bold;
}
.restaurants__restaurant img {
  width: 100%;
  height: 450px;
  border-radius: 50px 50px 0px 0px;
}
.restaurants__restaurant--start {
  background-color: transparent;
  font-weight: bold;
  font-size: 42px;
  height: 50px;
}

@media (min-width: 480px) {
  .restaurants {
    flex-direction: row;
    max-width: 1920px;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .restaurants__restaurant {
    width: 800px;
  }
  .restaurants__restaurant:nth-child(1) {
    width: 1920px;
  }
}
.background img {
  width: 100%;
  height: 625px;
}

.header__arrow {
  color: black;
  padding: 20px 100px 0px 0px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  padding-bottom: 100px;
  border-radius: 80px 80px 0px 0px;
  position: relative;
  bottom: 90px;
  z-index: 3;
}
.menu__title {
  font-family: "Shrikhand";
  font-size: 64px;
  margin-right: 335px;
  margin-left: 20px;
}
.menu .far {
  position: absolute;
  right: 270px;
  top: 85px;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.menu .fas {
  position: absolute;
  right: 270px;
  top: 85px;
  font-size: 50px;
  opacity: 0;
}
.menu .fas:hover {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.2s ease-in;
}
.menu__dishes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.menu__dishes.entree {
  opacity: 0;
  animation: transition 0.5s linear 0.5s forwards;
}
.menu__dishes.plat {
  opacity: 0;
  animation: transition 1s linear 1s forwards;
}
.menu__dishes.dessert {
  opacity: 0;
  animation: transition 1.5s linear 1.5s forwards;
}
@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__dishes .container-dish {
  display: flex;
  width: 875px;
  overflow: hidden;
  position: relative;
}
.menu__dishes .container-dish:hover .menu__dishes__dish--check {
  right: 0;
}
.menu__dishes .container-dish:hover .price {
  text-indent: 70%;
}
.menu__dishes__dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px 0px 20px 20px;
  border-radius: 50px;
  width: 100%;
  height: 135px;
  position: relative;
  z-index: 1;
  margin: 0;
}
.menu__dishes__dish--check {
  background-color: #99e2d0;
  width: 145px;
  height: 135px;
  padding: 20px 0px 20px 20px;
  border-radius: 0px 50px 50px 0px;
  position: absolute;
  right: -165px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  transition: 0.6s;
}
.menu__dishes__dish--check img {
  height: 50px;
}
.menu__dishes__dish:hover + .menu__dishes__dish--check img {
  transition: transform 0.4s ease-in-out;
  transition-delay: 0.15s;
  transform: rotate(-360deg);
}
.menu__dishes__dish--start {
  background-color: transparent;
  justify-content: flex-end;
  font-size: 38px;
  position: relative;
  left: 25px;
  text-decoration: underline 7.5px #99e2d0;
}
.menu__dishes .price {
  text-indent: 90%;
  transition: 0.6s;
}
.menu__dishes .bold {
  font-weight: bold;
  font-size: 38px;
}
.menu__dishes .btn {
  margin-top: 100px;
  height: 120px;
  width: 500px;
  font-size: 42px;
  border-radius: 75px;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes check {
  from {
    visibility: hidden;
  }
  10% {
    right: 5px;
  }
  20% {
    right: 10px;
  }
  30% {
    right: 15px;
  }
  40% {
    right: 20px;
  }
  50% {
    right: 25px;
  }
  60% {
    right: 30px;
  }
  70% {
    right: 35px;
  }
  80% {
    right: 40px;
  }
  90% {
    right: 45px;
  }
  to {
    visibility: visible;
    right: 50px;
  }
}
.loader {
  width: 125px;
  height: 125px;
  border: 10px solid;
  border-top-color: #9356dc;
  border-bottom-color: #9356dc;
  border-left-color: #ff79da;
  border-right-color: #ff79da;
  border-radius: 30%;
  animation: rotate 1.2s linear;
  animation-iteration-count: 3;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 900;
  pointer-events: none;
  animation: fade-out 3s ease-out forwards;
}

/*# sourceMappingURL=style.css.map */
