body {
  font-family: "Roboto", serif;
  font-size: 36px;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 72px;
}

h4 {
  font-family: "Shrikhand", serif;
  font-size: 48px;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
  margin-top: 20px;
}

.btn {
  background: rgb(147, 86, 220);
  background: linear-gradient(345deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 90%);
  border-radius: 50px;
  border: 0px;
  width: 375px;
  height: 75px;
  color: white;
  margin-bottom: 75px;
  box-shadow: 0 5px 6px 0px rgba(0, 0, 0, 0.45);
  font-size: 25px;
}

header {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

footer {
  background-color: #363636;
  color: white;
  padding: 20px 0px 20px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer, h4 {
  padding: 30px 0px 5px 40px;
  margin: 0;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  text-align: center;
}
.exploration__text p:first-of-type {
  font-weight: bold;
}
.exploration__header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  height: 100px;
  margin-top: 0;
  border-top: 5px solid #d1d1d1;
}
.exploration__header i {
  margin-right: 35px;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.steps__step {
  background-color: #f5f5f5;
  width: 85%;
  height: 175px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 50px;
  font-weight: bold;
  box-shadow: 0px 9px 16px 0px rgba(0, 0, 0, 0.25);
}
.steps__step:hover {
  background-color: hsl(267deg, 100%, 96%);
}
.steps__step:hover i {
  color: #9256dc;
}
.steps__step--start {
  box-shadow: 0 0 0 0;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
  font-size: 42px;
  pointer-events: none;
}
.steps__step .leftP {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -20px;
  border-radius: 100%;
  background-color: #9256dc;
  width: 50px;
  height: 50px;
  color: white;
  font-weight: normal;
}
.steps__step i {
  margin: 0px 50px 0px 35px;
  color: #7d7d7d;
}

.restaurants {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}
.restaurants__restaurant {
  background-color: white;
  width: 80%;
  height: 625px;
  border-radius: 50px;
  margin-bottom: 50px;
}
.restaurants__restaurant .far {
  position: relative;
  top: -110px;
  right: -675px;
  font-size: 50px;
  opacity: 1;
  transition: opacity 0.2s ease-in;
}
.restaurants__restaurant .fas {
  position: relative;
  top: -110px;
  right: -615px;
  font-size: 50px;
  opacity: 0;
}
.restaurants__restaurant .fas:hover {
  opacity: 1;
  color: #9356dc;
  transition: opacity 0.2s ease-in;
}
.restaurants__restaurant p {
  margin: 25px;
}
.restaurants__restaurant p:first-of-type {
  font-weight: bold;
}
.restaurants__restaurant img {
  width: 100%;
  height: 450px;
  border-radius: 50px 50px 0px 0px;
}
.restaurants__restaurant--start {
  background-color: transparent;
  font-weight: bold;
  font-size: 42px;
  height: 50px;
}

.background img {
  width: 100%;
  height: 625px;
}

.menu {
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
  align-items: center;
  padding-bottom: 400px;
  border-radius: 80px 80px 0px 0px;
  position: relative;
  bottom: 90px;
}
.menu__dishes {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.menu__dishes__dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 20px 0px 20px 20px;
  border-radius: 50px;
  width: 175%;
  height: 135px;
}
.menu__dishes__dish--start {
  background-color: transparent;
  justify-content: flex-end;
  font-size: 38px;
}
.menu__dishes p {
  margin: 10px;
}
.menu__dishes .price {
  text-indent: 90%;
}
.menu__dishes .bold {
  font-weight: bold;
  font-size: 38px;
}

/*# sourceMappingURL=style.css.map */
