.background
{
    img
    {
        width: 100%;
        height: 625px;
    }

}

.header__arrow
{
    color: black;
    padding: 20px 100px 0px 0px;
}

.menu
{
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    align-items: center;
    padding-bottom: 100px;
    border-radius: 80px 80px 0px 0px;
    position: relative;
    bottom: 90px;
    z-index: 3;

    &__title
    {
        font-family: "Shrikhand";
        font-size: 64px;
        margin-right: 335px;
        margin-left: 20px;
    }
    
    .far
    {
        position: absolute;
        right: 270px;
        top: 85px;
        font-size: 50px;
        opacity: 1;
        transition: opacity 0.2s ease-in;
    }

    .fas
    {
        position: absolute;
        right: 270px;
        top: 85px;
        font-size: 50px;
        opacity: 0;

        &:hover
        {
            opacity: 1;
            color: map-get($colors, 'primary');
            transition: opacity 0.2s ease-in;
        }
    }

    &__dishes
    {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        &.entree
        {
            opacity: 0;
            animation: transition 0.5s linear 0.5s forwards;
        }

        &.plat
        {
            opacity: 0;
            animation: transition 1s linear 1s forwards;
        }

        &.dessert
        {
            opacity: 0;
            animation: transition 1.5s linear 1.5s forwards;
        }

        @keyframes transition {
            0%   {
                    opacity: 0;
                }
            100% { 
                    opacity: 1;
                }
            }
        
        .container-dish
        {
            display: flex;
            width: 875px;
            overflow: hidden;
            position: relative;

            &:hover
            {
                .menu__dishes__dish--check
                {
                    right: 0;
                }
                .price
                {
                    text-indent: 70%;
                }
            }
        }
        
        &__dish
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            padding: 20px 0px 20px 20px;
            border-radius: 50px;
            width: 100%;
            height: 135px;
            position: relative;
            z-index: 1;
            margin: 0;

            &--check
            {
                background-color: map-get($map: $colors, $key: tertiary);
                width: 145px;
                height: 135px;
                padding: 20px 0px 20px 20px;
                border-radius: 0px 50px 50px 0px;
                position: absolute;
                right: -165px;
                z-index: 2;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                transition: 0.6s;

                img
                {
                    height: 50px;
                }

            }

            &:hover + &--check img
            {
                transition: transform 0.4s ease-in-out;
                transition-delay: 0.15s;
                transform: rotate(-360deg);
            }

            &--start
            {
                background-color: transparent;
                justify-content: flex-end;
                font-size: 38px;
                position: relative;
                left: 25px;
                text-decoration: underline 7.5px map-get($map: $colors, $key: tertiary);
            }
        }

        .price
        {
            text-indent: 90%;
            transition: 0.6s;
        }

        .bold
        {
            font-weight: bold;
            font-size: 38px;
        }

        .btn
        {
            margin-top: 100px;
            height: 120px;
            width: 500px;
            font-size: 42px;
            border-radius: 75px;
        }
    }
}